---
layout: default
title: About
---
<h1>About US</h1>
{% for auther in site.authors %}
<ul>
  {% for about in site.about %}
    <li>
      <h2><a href="{{ about.url }}">{{ about.name }}</a></h2>
      <h3>{{ about.position }}</h3>
      <p>{{ about.content | markdownify }}</p>
    </li>
  {% endfor %}
</ul>



<footer>
  
  
<p>Group 2<p>

<button onclick="myFunction()"> Dark mode</button>

  <script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>
  
<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()"> Date and Time.</button>
<p id="demo"></p>
</footer>
{% endfor %}
